.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

html {
  scroll-behavior: smooth;
}

/* Vertical */
.fade-border {
  position: absolute;
  top: -16px;
  right: 0;
  border-right: 2px dashed var(--border-color);
  width: 1px;
  height: 100vh;
  position: relative;
}

.fade-border::before,
.fade-border::after {
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  height: 150px; /* adjust this as needed */
  z-index: 1;
  pointer-events: none; /* so it doesn't interfere with any interactions */
}

.fade-border::before {
  top: 0;
  width: 6px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

.fade-border::after {
  bottom: 0;
  width: 6px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

/* Horizontal */
.fade-border-horizontal {
  position: relative;
  border-bottom: 2px dashed var(--border-color);
}

.fade-border-horizontal::before,
.fade-border-horizontal::after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 200px; /* adjust this as needed */
  z-index: 1;
  pointer-events: none; /* so it doesn't interfere with any interactions */
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

.fade-border-horizontal::after {
  right: 0;
  height: 6px;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

#projects {
  position: sticky;
  top: 0; /* this means it will become sticky once its top touches the top of the viewport */
  overflow-y: auto; /* in case its content is bigger than its height */
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 13px !important;
  }
}
/* @media screen and (max-width: 768px) {
  html {
    font-size: 16px !important;
  }
} */

.about-grid {
  grid-template-columns: 1fr 5fr 100px;
}
